<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link rel="stylesheet" href="css/mystyl.css"/> 
 <link rel="stylesheet" href="css/normalize.css" /> 
 <link rel="stylesheet" href="css/bootstrap.css" /> 

<link rel="stylesheet" href="css/rating.css"/>

<meta charset="ISO-8859-1"></meta>
<title>Puzzle</title>
</head>
<body>
<header>
		<div th:replace="fragments::header" />
		<hr />
		<div th:replace="fragments::nice_footer" />
		<hr />
		
		<h2>Puzzle</h2>

	</header>
	
	<div th:remove="${@userController.isLogged()} ? none : all" class="rating">
<a href="/ratingPuzzle?value=5">&#9733;</a>
<a href="/ratingPuzzle?value=4">&#9733;</a>
<a href="/ratingPuzzle?value=3">&#9733;</a>
<a href="/ratingPuzzle?value=2">&#9733;</a>
<a href="/ratingPuzzle?value=1">&#9733;</a>
</div>
	<div th:replace="fragments::rating_puzzle" /><br/>
	<div style="padding-bottom: 5px" class="like" th:remove="${@userController.isLogged()} ? none : all">	
	<h5>Favorite</h5>		
<a  href='/addFavorite_puzzle'>
<span th:if="${favorite}">
   <img style="width:25px;height:25px" src="pictures/favorite1.png" title="favorite" alt="favorite"/>
</span>
		   <span th:if="${not favorite}">
		<img style="width:25px;height:25px" src="pictures/favorite2.png" title="favorite" alt="favorite"/>
		</span> 
		</a>
		</div>
	
	<p th:utext='${puzzleController.render()}' />
	<div class= "message" th:utext='${puzzleController.message}' />
	
	<div class='buttons'>
		<button onclick="window.location.href='/puzzle'">New Game</button>
		</div>
		<hr />
		
<div class="container">
		<div class="row">
	<div class="col-9">
			<form th:remove="${@userController.isLogged()} ? none : all" class="loginStyle" action='/commentPuzzle' method='post'>
				<h4>Comment:</h4>
				<input type='text' name='content' />
				<input
						type='submit' value='OK' />
			</form>
				<h3>Comments</h3>
				<table class="commentTable">
					<tbody>
						<tr>
							<th>Player</th>
							<th>Comment</th>
							<th>Created</th>
						</tr>
						<tr th:each='comment : ${comment}'>

							<td th:text='${comment.username}' />
							<td th:text='${comment.content}' />
							<td th:text='${comment.createdOn}' />
						</tr>
					</tbody>
				</table> 
			</div>

	
			<div class="col-9">
				<h3>Top Scores</h3>
				<table class="scoreTable">
					<tbody>
						<tr>
							<th>Player</th>
							<th>Score</th>
						</tr>
						<tr th:each='score : ${scores}'>
							<td th:text='${score.username}' />
							<td th:text='${score.value}' />
						</tr>
					</tbody>
				</table>
			</div><hr/>
		</div>
	</div>
</body>
</html>